.video-js .vjs-control-bar {
  background-color: transparent;
}

.video-js .vjs-progress-control {
    position: absolute;
    top: -100%;
    width: 100%;
}

.video-js .vjs-play-progress {
  background-color: #eeff00; 
}

.video-js .vjs-playback-rate {
   margin-left: auto;
}

.video-js .vjs-picture-in-picture-control  {
  margin-left: auto;
}

.video-js .vjs-big-play-button {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}



.video-js .vjs-big-play-button .vjs-icon-placeholder:before {
    width: 0%;
    height: 0%;
    position: static;
}

@media only screen and (min-width: 425px) {
 .video-js .vjs-playback-rate {
   margin-left: auto;
}

.video-js .vjs-picture-in-picture-control  {
  margin-left: 0;
}
}